:root {
  --dark: #2d3241;
  --dark_trans: #2d3241f1;
  --golden: #ffd600;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #13161f !important;
  font-family: "Raleway", sans-serif;
  background-image: url(./assets/bg.webp);
  background-size: 100%;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
body::after {
  content: "";
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/bg.webp");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  /* filter: blur(5px) brightness(0.75); */
  z-index: -2;
}

.w-60 {
  width: 60%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 48%;
}

.params .row {
  /* width: 80%; */
  padding: 0 3rem;
  gap: 0.9rem;
}

.params {
  font-size: 0.65rem;
  width: 400px;
}
.params img {
  width: 2rem !important;
}

.params .col-md-6 {
  align-items: center;
  /* justify-content: space-evenly; */

  flex: 1 0 33%;
  margin: auto 5px auto;
}

.square {
  max-width: 105px;
}

/* .logo {
  background-image: url(./assets/logo.png);
  width: 180px;
  height: 180px;
} */

.cas-wrap {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.tokens {
  position: absolute;
  /* background: url(./assets/tokens.png) no-repeat top; */
  height: 850px;
  transform: scale(0.54);
  width: 100%;
  left: -15%;
  top: -150px;
  z-index: 1;
}

.cas-img {
  position: relative;
  /* background: url(./assets/girls.png) no-repeat top; */
  height: 450px;
  z-index: 2;
  top: -30px;
  transition: transform 300ms ease-in-out;
}

.casino-section {
  position: relative;
  color: #fff;
  margin-top: 12rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul svg {
  fill: var(--golden);
  font-weight: bold;
  width: 20px;
  margin-top: -2px;
  margin-right: 3px;
}

.my-card {
  background-color: #fff;
  margin: 1rem 0;
  color: #000;
  /* border: 1px solid #00bd68; */
  transition: all 300ms ease-in-out;
  border-radius: 6px;
  padding: 0 1rem;
}

.top-card {
  padding: 1.25rem 0;
  border: unset !important;
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
  color: #113454;
}

/* .top-card > div {
  min-width: 15%;
  max-width: 28%;
} */

.golden {
  /* color: var(--golden); */
}

.my-card:hover {
  cursor: pointer;
  /* background-color: #2d324191; */
  border-color: var(--golden) !important;
  /* transform: scale(1.05); */
  transition: all 300ms ease-in-out;
}

.color-green {
  color: #00bd68;
}
.accordion {
  --bs-accordion-bg: var(--dark_trans);
}

.accordion-button {
  color: #fff !important;
  background-color: var(--dark_trans) !important;
  --bs-accordion-bg: var(--dark_trans);
}

.accordion-item {
  border: unset;
  margin-bottom: 0.3rem;
}

.accordion-button::after {
  filter: invert(100%);
}

.accordion-button {
  padding: 12px 25px;
  font-size: 0.9rem;
}

.accordion-body {
  padding-top: 0px;
  padding-bottom: 10px;
}

.accordion-item {
  /* border: 1px solid #00bd68; */
  border-top: unset;
  color: #fff;
  font-size: 0.7em;
}

.accordion-button:not(.collapsed) {
  box-shadow: unset;
}

.accordion-button:focus {
  box-shadow: unset;
  border: unset;
}

.star,
.empty {
  color: var(--golden);
  font-size: 1em;
}

.star::before {
  content: "\2605";
}

.header-btn {
  font-size: 0.75rem;
  padding: 0.75rem 2.3rem;
  background-color: #ff0000;
  border: unset;
}

.header-btn:hover,
.header-btn:active {
  background-color: #ff0000aa !important;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
}

.top-card .btn {
  font-weight: 600;
  background-color: #2ecc71;
  /* background-image: linear-gradient(-180deg, #00d775, #00bd68); */
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  text-transform: uppercase;
  position: relative;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  border: 0;
  padding: 1rem 2.75rem;
  font-size: 1rem;
}

.top-card .btn:hover,
.top-card .btn:active {
  background: #2ecc71 !important;
}

.score h3,
.score h5,
.score > div {
  margin: -3px 0;
  line-height: 1.15;
}

.score-text {
  font-weight: 900;
}

/* Hamburger */

#outer-container .flag-logo {
  position: relative;
  right: 58px;
  bottom: 2px;
}
.hamburger-react div {
  background-color: #fff !important;
  border-radius: 5px;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 25px;
}

.bm-burger-bars {
  background: #fff;
  border-radius: 6px;
}

.bm-burger-bars:nth-child(2) {
  width: 30px;
  left: unset !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  /* top: 0; */
  width: 220px !important;
  height: 81vh !important;
  position: relative;
}

.bm-menu {
  background: #000;
  display: flex;
  justify-content: center;
  padding: 0.5em 0.5em 0;
  border-radius: 25px;
  font-size: 0.9rem;
}

.bm-morph-shape {
  border-radius: 100px !important;

  /* fill: #373a47; */
}

.bm-item-list {
  left: -50px !important;
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.85) !important;
  top: 0;
  left: 0;
}

.nav-menu.open {
  right: 0;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
}

.nav-menu li {
  margin: 21px 0;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 0.75rem;
}

.fs-7 {
  font-size: 0.75rem;
}

.rev-url {
  letter-spacing: 1px;
  margin-top: 4px;
  color: white;
  text-decoration: none;
}

.reg {
  padding: 0 1rem 1rem;
  line-height: 1.3;
  font-size: 0.76rem;
  text-align: center;
  /* background-color: #1134540d; */
  /* color: #000;  */
}

.welcome-bonus {
  width: 25rem;
  padding: 0 1rem;
  text-align: left;
}

.welcome-bonus h1 {
  font-size: 1.25rem;
  font-weight: 700;
  /* text-align: center; */
}

footer {
  /* background-color: #242424; */
  background: linear-gradient(to top, #242424e0 60%, transparent 100%);
  padding: 10rem 3rem 3rem;
  color: #888;
  min-height: 2vh;
}

footer .footer-logo {
  flex-basis: 100%;
}
footer .footer-foo.row {
  --bs-gutter-x: 0;
}
footer .footer-foo {
  flex-basis: 100%;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

.welcome-bonus a,
.welcome-bonus a:visited {
  color: #113454;
  text-decoration: underline;
}

a:hover {
  color: #00bd68;
  transition: all 300ms ease-in-out;
}

.disclaimer {
  font-size: 0.75rem;
}
.header {
  display: flex;
  position: absolute;
  top: 0;
}

.tit-n-des h1 {
  font-weight: bold;
}

.information {
  background-color: #13161fea !important;
  width: 55%;
  margin: auto;
  padding: 1.25% 3%;
}

/* Rating */

/* Rating item */
.rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  width: 3.2rem;
  height: 3.2rem;
  font-size: calc(3rem / 3);
  line-height: 1;
}

/* Rating circle content */
.rating span {
  position: relative;
  display: flex;
  font-weight: bold;
  z-index: 2;
}

.rating span small {
  font-size: 0.5em;
  font-weight: 900;
  align-self: center;
}

.rating::after {
  content: "";
  position: absolute;
  inset: 0.35rem;
  background: #fff;
  border-radius: inherit;
  z-index: 1;
}

.rating::before {
  content: "";
  position: absolute;
  inset: 10rem;
  border-radius: inherit;
  box-shadow: 0 0 0 1rem #c7e1f3;
  z-index: -1;
}

.rating.good {
  background: #2ecc71;
}

@media only screen and (max-width: 1023px) {
  /* .top-card > div {
    min-width: unset;
    max-width: unset;
  } */
  .disclaimer {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  body,
  body::after {
    background-image: url(./assets/bg-nobile.webp);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .casino-main {
    width: 75% !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .tit-n-des {
    margin: auto;
    /* background-color: var(--dark_trans); */
  }

  .intro {
    overflow: hidden;
    padding: 0 2vw;
  }

  .intro h1 {
    font-size: 1rem;
  }

  .intro p {
    font-size: 0.75rem;
  }

  .my-card {
    margin: 4vw auto;
    position: relative;
    border-radius: 13px;
  }
  .welcome-bonus {
    width: 100%;
    /* margin: 10px 0 0; */
    padding: unset;
  }
  .card-content h1 {
    font-size: 12px;
  }
  .card-content p {
    font-size: 6.5px;
    line-height: 1.5;
    /* font-size: 6px; */
  }

  .information {
    width: 95%;
    padding: 5%;
  }
  .my-card {
    padding: 5px;
  }
  .top-card {
    padding: 0 1.25vw 2vw 1.25vw;
    max-height: 200px;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 2vw;
    flex-direction: column;
    max-height: 100%;
  }
  /*  */

  .top-card .btn {
    font-size: 3vw;
    border-radius: 8px;
    width: 85%;
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    padding: 0.45rem 0rem;
  }

  footer {
    padding: 0 1rem;
  }

  .sticky {
    background-color: #000;
  }
  .sticky div {
    width: 85%;
    font-size: 0.75rem;
  }
}

/* TEST */

.my-card-2 {
  width: 250px;
  height: 150px;
  grid-gap: 1rem;
  padding: 2rem 0.5em 1rem;
  transform-origin: 100% 100%;
  color: #fff;
}

.my-card-2 section {
  text-align: center;
  margin-bottom: -1rem;
  background-color: #232325;
  border-bottom: solid 1rem transparent;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 1.5rem),
    50% 100%,
    0 calc(100% - 1.5rem)
  );
}

.my-card-2 button {
  line-height: 0.9;
  border: 0;
  margin: 0.75rem;
  padding: 0.3rem 1.2rem;
  font-size: 1.15rem;
}

.cookie-button {
  font-size: 1rem;
  padding: 0.3rem 1.2rem;
}

.cookie-reject {
  background: unset !important;
  border: 2px solid #00d775;
}

.content {
  /* background: linear-gradient(to top, #242424 80%, transparent 100%); */
  /* background-color: #242424; */
}

.ribbon {
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 255px;
  padding: 2.5px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 45px;
}
.ribbon-top-left::after {
  bottom: 45px;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
